/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	
}

header {
	text-align: center;
	background-color: RGB(76, 84, 84);
}

img {
	border: 5px solid RGB(30, 168, 150);
    margin-top: 10%;
	margin-bottom: 2%;
	width: 80%;
}

#class-image {
	width: 100%;
}

img:hover {
	border-color: RGB(255, 113, 91);
}

h1 {
	font-size: 3rem;
	color: RGB(255, 113, 91);
	margin-top: 0%;
}

h1:hover {
	color: RGB(30, 168, 150);
}

header p {
	color: white;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 10%;
}

a {
	margin-bottom: 10%;
}

p {
	font-size: 2rem;
	margin-top: 5%;
}

button {
	width: 95%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: transparent;
	border-radius: 8px;
	font-size: 1.6rem;
}

button.nav-button:hover {
	background-color: RGBA(30, 168, 150);
	color: white;
}

button.sign-up {
	background-color: RGB(255, 113, 91);
}


section {
	text-align: center;
	margin: 0% 15%;
}

section p {
	margin-bottom: 20px;
}

footer {
	background-color: RGBA(76, 84, 84, 0.8);
	padding: 10%;
	color: RGBA(255, 113, 91, 0.75)
}

i:hover {
	color: RGB(30, 168, 150);
}

.flex-container2 {
	display: flex;
	justify-content: space-evenly;
}

@media (min-width: 800px) {

	header {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: flex-start;
	}

	header img {
		width: 40%;
		margin: 8% 5% 0 0;
	
	}

	header section {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 15% 0 0 0;
		text-align: end;

	}

	.flex-container {
		display: flex;
		flex-direction: row;
		align-items: space-between;
		justify-content: space-between;
	}

	h1 {
		margin: 0 10% 0 0%;
		font-size: 4rem;
	}

	section p {
		margin: 3% 10% 0 0;
		font-size: 2.5rem;
	}

	nav {
		width: 80%;
		margin-top: 0;
	}

	nav button {
		width: 100px;
	}

	.inline-container {
		margin-left: 5%;
		width: 90%;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	section img {
		width: 35%;
	}

	#class-image {
		width: 50%;
	}

	.inline-container p {
		margin: 2% 5% 2% 10%;
		width: 50%;
	}

	.about-header {
		margin-top: 10%;
	}
}

@media (min-width: 1000px) {
	header img {
		margin-top: 6%;
	}

	h1 {
		font-size: 5rem;
	}

	header p {
		font-size: 3rem;
	}

	p {
		line-height: 3rem;
	}
}